<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>catproxy</title>
		<link rel="stylesheet" href="<%=locals.uiOption.cdnBasePath%>/lib/bootstrap/bootstrap.css">
	</head>
	<body class="light">
		<div id="g-wrap"></div>
		<script>
			window.config = <%-JSON.stringify(locals.uiOption)%>
		</script>
		<script src="<%=locals.uiOption.cdnBasePath%>/monitor/monitor.js"></script>
	</body>
</html>
