{
	"env": {
		"browser": true,
		"amd": true,
		"jquery": true,
		"es6": true,
		"node": true
	},
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"extends": ["prettier/react", "prettier/standard"],
	"plugins": ["prettier", "react"],
	"parser": "babel-eslint",
	"rules": {
		"prettier/prettier": 1,
		"no-unused-vars": [0, { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
		// "semi": [2, "always"],
		// "indent": [
		//   "error",
		//   2,
		//   {
		//     "SwitchCase": 1,
		//   }
		// ],
		// "comma-dangle": [
		//   1, "always-multiline"
		// ],
		"new-cap": "off",
		"newline-after-var": "off",
		"no-invalid-this": "off",
		"quotes": ["error", "single", { "avoidEscape": true }],
		"guard-for-in": "off",
		"no-console": "off",
		"no-undefined": "off",
		"array-bracket-spacing": "off",
		"no-unused-expressions": "off",
		"linebreak-style": "off"
	}
}
