.close(@size:26;@color: #aaa;@background:transparent;@weight:1;@base-bet:1){
	@lineSize: @size*@base-bet;
  position: relative;
  display: block;
	width: @size/1px;
	height: @size/1px;
  overflow: hidden;
  background: @background;
  font-size: 0px;
 	transform: rotate(0deg);
	&:before, &:after {
	  content: '';
	  position: absolute;
	  height: @weight * 1px;
	  width: @lineSize/1px;
	  top: 50%;
	  left: 50%;
	  margin-left: @lineSize/-2px;
	  margin-top: @weight/-2px;
	  background: @color;
	}
	&:before {
	  transform: rotate(45deg);
	}
	&:after {
	  transform: rotate(-45deg);
	}
}

.conInfo{
	position: absolute;
	top:0;
	right:0;
	min-width: 300px;
	min-height: 300px;
	z-index: 5;
	border-width: 1px;
	border-style: solid;
	margin-top:-2px;
	overflow: auto;
	min-width: 300px;
	border-bottom: 0px;
	.closeBtn{
		em{
			.close(@size:18;@color:@baseFontColor;@background:transparent;@weight:2;@base-bet:0.5);
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			border-radius: 50%;
		}
		position: absolute;
    left: 0px;
    top: 0px;
		height: 30px;
		width: 30px;		
	}
	nav{
		height: 31px;
		border-bottom: 1px solid transparent;
		padding-left: 30px;
		overflow: hidden;
		&>span{
			display: inline-block;
    	height: 27px;
    	margin-top: 5px;
   	 	padding: 0 8px;
			border:1px solid transparent;
		}
	}
	// 所有得tab
	.contentTab{
		font-size: 14px;
		em{
				font-style: normal;
			}			
		// 头部tab
		.headers{
			margin-left: 10px;
			.viewHeader{
				border:1px solid transparent;
				&:first-child{
					border: 0px;
				}
				padding: 5px 0px;
				.headerTitle{
					font-weight: 700;
					.source, .encode{
						font-weight: normal;
						display: inline-block;
						padding-left: 30px;
						font-size: 12px;
						height: 20px;
						line-height: 20px;						
					}
					&:before{
						content: " ";
						display:inline-block;
						margin-right: 5px;
						width:8px; 
						height:8px; 
						border-top:4px solid transparent;
						border-bottom: 4px solid transparent;
						border-right: 0px;							
					}
					&.active{
						&:before{
							border-left:4px solid transparent;
							border-right:4px solid transparent;
							border-bottom:0px;		
						}
					}					
				}
				.headerContent{
					margin-left: 21px;
					& > div > span{
						font-weight: 700;
						white-space: nowrap;
					}
				}
			}
		}
	}
	.dargResize{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width:6px;
		background: transparent;
		&:hover{
			cursor: ew-resize;
		}
	}
}
.conInfoTheme(){
	.conInfo {
		border-color: @baseBorderColor;
		border-left-color: @leftSplitColor;
		background: @bgColor;
		.closeBtn{
			em{
				&:hover{
					background: @closeBtnHoverBgColor;
					&:before,&:after{
						background: @closeBtnHoverColor;
					}
				}
			}	
		}		
		nav{
			border-color: @baseBorderColor;
			&>span{
				&:hover{
					background: @navItemHoverColor;
				}
				&.active{
					border-color:@activeNavItemBorderColor;
				}
			}
		}
		.contentTab{
			// 头部tab
			.headers{
				.viewHeader{
					border-top-color: @baseBorderColor;
					.headerTitle{
						.source, .encode{
							color: @titleSourceColor;
						}
						&:before{
							border-left: 8px solid @baseFontColor;
						}
						&.active{
							&:before{
								border-left: 4px solid transparent;
								border-top:8px solid @baseFontColor;
							}
						}
					}			
				}
			}
		}
	}
};

// 分割线颜色
.conInfoColor(@theme) when (@theme=light) {
	// 头部边框的颜色
	@bgColor:#fff;
	// 左侧分割边界颜色
	@leftSplitColor: #a3a3a3;
	// 激活时nav边框样式
	@activeNavItemBorderColor: #cccccc;
	// nav上的tab的悬浮的样式
	@navItemHoverColor: #e5e5e5;
	// title上的源的颜色
	@titleSourceColor: #737373;
	@closeBtnColor: @baseFontColor;
	@closeBtnHoverColor: #fff;
	@closeBtnHoverBgColor: #e89590;
	.conInfoTheme();
}
