@import "./macro.less";

.conInfo{
	pre{
		background: transparent;
		border: 0px;
		border-radius:0px;
		word-break: normal;
		word-wrap: normal;
	}
	position: absolute;
	top:0;
	right:0;
	min-width: 600px;
	min-height: 500px;
	height: 100%;
	height: calc(~"100% - 30px");
	width: 60%;
	z-index: 5;
	border-width: 1px;
	border-style: solid;
	margin-top:-2px;
	overflow: hidden;
	border-bottom: 0px;
	.closeBtn{
		em{
			.close(@size:18;@color:@baseFontColor;@background:transparent;@weight:2;@base-bet:0.5);
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			border-radius: 50%;
		}
		position: absolute;
    left: 0px;
    top: 0px;
		height: 30px;
		width: 30px;		
	}
	nav{
		height: 31px;
		border-bottom: 1px solid transparent;
		padding-left: 30px;
		overflow: hidden;
		&>span{
			display: inline-block;
    	height: 27px;
    	margin-top: 5px;
   	 	padding: 0 8px;
			border:1px solid transparent;
		}
	}
	// 所有得tab
	.contentTab{
		font-size: 14px;
		height: 100%;
		em{
				font-style: normal;
			}
		&>div{
			display: none;
		}
		// 头部tab
		.headers{
			margin-left: 10px;
			overflow: auto;
			height: 100%;
			position: relative;
			.viewHeader{
				border:1px solid transparent;
				&:first-child{
					border: 0px;
				}
				padding: 5px 0px;
				.headerTitle{
					font-weight: 700;
					.source, .encode{
						font-weight: normal;
						display: inline-block;
						padding-left: 30px;
						font-size: 12px;
						height: 20px;
						line-height: 20px;						
					}
					&:before{
						content: " ";
						display:inline-block;
						margin-right: 5px;
						width:8px; 
						height:8px; 
						border-top:4px solid transparent;
						border-bottom: 4px solid transparent;
						border-right: 0px;							
					}
					&.active{
						&:before{
							border-left:4px solid transparent;
							border-right:4px solid transparent;
							border-bottom:0px;		
						}
					}					
				}
				.headerContent{
					margin-left: 21px;
					& > div > span{
						font-weight: 700;
						white-space: nowrap;
					}
				}
			}
		}
		&>div.active {
			display: block;
		}
		// 响应数据
		.response{
			position: relative;
			overflow: auto;
			height: 100%;
			// 没有数据情况下地查看
			.dataNoParse{
				font-size: 32px;
				padding: 10px;
			}
			.loading{
				position: absolute;
			}
			// 图片情况的查看
			.imagePreview{
				text-align: center;
				margin-top: 30px;
				img{
					display: inline-block;
				}
			}
			// 代码预览
			.codePreview{
				.split{
					height: 16px;
					width: 1px;
					margin: 0 10px;
					display: block;
					transform: translate(0px, 0px);
				}
				// 工具条
				.resToolBar{
					-moz-user-select:none;
					-webkit-user-select:none;
					user-select:none;    
					height: 32px;
					-webkit-display: flex;
					display: flex;
					padding-left: 10px;
					align-items: center;
					border-bottom-width: 1px;
					border-bottom-style: solid;
					position: relative;
					.formatCode {
						span{
							input{
								display: none;
							}
							label{
								font-weight: normal;
								margin: 0px 2px;
								padding: 1px 3px;
								border-radius: 7px;
							}
						}
					}
					.jsonFormat{
						span{
							input{
								display: none;
							}
							label{
								margin: 0px 2px;
								padding: 1px 3px;
								border-radius: 7px;
							}					
						}
					}
					.charset{
						& > a{
							height: 30px;
							line-height: 30px;
							&:hover,&,&:visited{
								color:@baseFontColor;
								padding: 0px;
							}
						}
					}
				}
				// 代码
				.code {
					.jsonTree{
						margin-left: 15px;
						height: 100%;
						width: 100%;
						position: absolute;
						overflow: auto;
					}
				}
			}
		}
	}
	.dargResize{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width:6px;
		z-index: 11;
		background: transparent;
		&:hover{
			cursor: ew-resize;
		}
	}
}
.conInfoTheme(){
	.conInfo {
		border-color: @baseBorderColor;
		border-left-color: @leftSplitColor;
		background: @bgColor;
		.closeBtn{
			em{
				&:hover{
					background: @closeBtnHoverBgColor;
					&:before,&:after{
						background: @closeBtnHoverColor;
					}
				}
			}	
		}		
		nav{
			border-color: @baseBorderColor;
			&>span{
				&:hover{
					background: @navItemHoverColor;
				}
				&.active{
					border-color:@activeNavItemBorderColor;
				}
			}
		}
		.contentTab{
			// 头部tab
			.headers{
				.viewHeader{
					border-top-color: @baseBorderColor;
					.headerTitle{
						.source, .encode{
							color: @titleSourceColor;
						}
						&:before{
							border-left: 8px solid @baseFontColor;
						}
						&.active{
							&:before{
								border-left: 4px solid transparent;
								border-top:8px solid @baseFontColor;
							}
						}
					}			
				}
			}
			// 代码预览
			.codePreview{
				position: absolute;
				height: 100%;
				width: 100%;
				top:0px;
				left: 0px;
				overflow: hidden;
				.split{
					color: @split;
					background-color: @split;					
				}
				// 工具条
				.resToolBar{
					position: absolute;
					top:0px;
					left: 0px;
					background-color: @resBarBgColor;
					border-color:@baseBorderColor;
					height: 30px;
					width: 100%;
					z-index: 10;
					.formatCode{
						span {
							input{
								&:checked+label{
									background: @formatCodeBgColor;
									color:@formatCodeColor;
								}
							}
							label{
								&:hover{
									background: @formatCodeHoverBgColor;
									color:@formatCodeColor;				
								}				 
							}
						}
					}
					.jsonFormat{
						span{
							input{
								&:checked+label{
									background: @jsonFormatBgColor;
									color:@jsonFormatColor;
								}
							}
							label{
								font-weight: normal;
								&:hover{
									background: @jsonFormatHoverBgColor;
									color:@jsonFormatColor;				
								}				 
							}				
						}
					}
				}
				// 代码
				.code {
					z-index: 9;
					position: absolute;
					padding-top: 30px;
					height: 100%;
					width: 100%;
				}
			}			

		}
	}
};

// 分割线颜色
.conInfoColor(@theme) when (@theme=light) {
	// 头部边框的颜色
	@bgColor:#fff;
	// 左侧分割边界颜色
	@leftSplitColor: #a3a3a3;
	// 激活时nav边框样式
	@activeNavItemBorderColor: #cccccc;
	// nav上的tab的悬浮的样式
	@navItemHoverColor: #e5e5e5;
	// title上的源的颜色
	@titleSourceColor: #737373;
	// 关闭按钮颜色
	@closeBtnColor: @baseFontColor;
	// 关闭按钮悬浮颜色
	@closeBtnHoverColor: #fff;
	// 关闭按钮悬浮背景色
	@closeBtnHoverBgColor: #e89590;
	// 编辑器导航背景色
	@resBarBgColor:#f3f3f3;

	// 格式化样式复写
	@formatCodeBgColor: #ababab;
	@formatCodeColor: #fff;
	@formatCodeHoverBgColor: #c2c2c2;
	//json格式化复写
	@jsonFormatBgColor: #ababab;
	@jsonFormatColor: #fff;
	@jsonFormatHoverBgColor: #c2c2c2;

	//split color: 
	@split: #777;
	.conInfoTheme();
}
