<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>catproxy</title>
	</head>
	<body>
	<div id="g-wrap"></div>
		<script>
			window.config = {
				env: '<%=env%>',
				host: '<%=host%>'
			};
		</script>
		<script src="<%=cdnBasePath%>/app/app.js"></script>
	</body>
</html>
